body {
    .blogr {
        .section3 {
            height: 56.8125rem;
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;

            &__left {
                width: 50%;
                height: 100%;
            }

            &__images {
                width: 100%;
                height: 100%;
            }

            &__img {
                width: 75%;
                position: absolute;
                top: 0%;
                left: -21.5%;
            }

            &__img-mobile {
                display: none;
            }

            &__h1 {
                color: $Very-darkblue;
                font-family: $font-Overpass;
                font-size: 1.3125rem;
                letter-spacing: 0.125rem;
            }

            &__paragraphy {
                margin-top: 2.625rem;
                font-size: 0.8125rem;
                font-family: $font-Overpass;
                color: $dark-blackblue;
                line-height: 1.25rem;
            }

            &__right {
                width: 50%;
                //height: 25.5rem;
                height: 40%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    html {
        font-size: 100%;
    }

    body {
        .blogr {
            .section3 {
                height: 58.125rem;
                width: 100%;
                padding: 2.0625rem 0rem 5.4375rem 0rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                &__left {
                    height: 17.875rem;
                    width: 100%;
                }

                &__images {
                    height: 100%;
                    width: 100%;
                }

                &__img {
                    display: none;
                }

                &__img-mobile {
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                &__right {
                    //height: 64.5%;
                    height: 55%;
                    width: 100%;
                    padding-left: 1.25rem;
                    padding-right: 1.25rem;
                }

                &__h1 {
                    font-size: 1.3rem;
                    font-weight: 600;
                    text-align: center;
                    color: $Very-darkblue;
                    font-family: $font-Overpass;
                }

                &__paragraphy {
                    text-align: center;
                    color: $Very-darkblue;
                    font-family: $font-Overpass;
                    font-size: 1.1rem;
                    
                }

            }
        }
    }
}